<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frontend</title>
</head>
<body>
    <h1>Tokens</h1>
    <ul>
        <li><a href="inspect/access_token">Access Token</a></li>
        <li><a href="inspect/refresh_token">Refresh Token</a></li>
        <li><a href="inspect/id_token">ID token</a></li>
    </ul>
    <h1>Backend resource server endpoints</h1>
    <ul>
        <li><a href="backend">Hello</a></li>
        <li><a href="backend/read">Read</a></li>
        <li><a href="backend/write">Write</a></li>
        <li><a href="backend/inaccessible">Inaccessible</a></li>
        <li><a href="backend/client_only_direct">Client credentials only resource (direct access)</a></li>
        <li><a href="backend/client_only_via_client_service">Client credentials only resource (indirect access via client credentials service)</a></li>
    </ul>
</body>
</html>
